:root{
  --abu-color: black; 
  --wahit-color: white;
}
.judul{
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
    font-family: Georgia,Times,Times New Roman,serif; 
}
.slideshow{
    width: 670px;
    height: auto;
    display:block; 
    margin:auto;
}
.isiblog{
    padding-top: 25px;
    padding-left: 150px;
    padding-right: 130px;
    padding-bottom: 25px;
}
/*BUTTON*/
.col-container {
  width: 100%; /* Set full-width to expand the whole page */
  background-color: #A9A9A9;
  height: 550px;
  text-align: center;
  padding-top: 25px;
}


/*RESPONSIVE*/
@media (max-width : 800px){
  .imgjenis{
    width: 500px;   
}
}
@media (max-width: 700px){
  .slideshow{
    width: 500px;
  }
  .isiblog{
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (max-width: 540px){
  .slideshow{
    width: 400px;
  }
  .isiblog{
    padding-left: 10px;
    padding-right: 10px;
  }
}